<div class="navigation">
    <button (click)="roleSelector()">Change type of visitor</button>
</div>
<div class="auctions-container">
    <div *ngIf="user">
        <h1>Welcome back {{ user.firstname }}!</h1>
        <h2>Here are the currently active auctions</h2>
    </div>

    <div class="search-filter-container">
        <!-- Row 1: Search -->
        <div class="search-row">
            <input
            type="text"
            [(ngModel)]="keyword"
            placeholder="Search auctions by name, category or description..." />
            <button (click)="search()">Search</button>
        </div>

        <!-- Row 2: Select filters -->
        <div class="filters-row">
            <select [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
            <option value="all">All Categories</option>
            <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
            </select>

            <select [(ngModel)]="selectedLocation" (change)="onLocationChange()">
            <option value="all">All Locations</option>
            <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
            </select>

            <select [(ngModel)]="selectedCity" (change)="onCityChange()">
            <option value="all">All Cities</option>
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
            </select>

            <select [(ngModel)]="selectedCountry" (change)="onCountryChange()">
            <option value="all">All Countries</option>
            <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
            </select>
        </div>

        <!-- Row 3: Price filter -->
        <div class="price-filter">
            <h4>Price Range</h4>

            <form>
                <label for="min-price">Minimun Price (current min: {{ minActivePrice }})</label>
                <input type="number" id="min-price" name="min-price" [(ngModel)]="selectedMinPrice" />

                <label for="max-price">Maximum Price (current max: {{ maxActivePrice }})</label>
                <input type="number" id="max-price" name="max-price" [(ngModel)]="selectedMaxPrice" />
            </form>    

            <button (click)="onPriceChange()">Apply Filter</button>
        </div>

        <!-- Row 4: Clear filters -->
        <div class="clear-row">
            <button class="clear-filters" (click)="clearFilters()">Clear Filters</button>
        </div>

        <label class="checkbox-row">
            <input type="checkbox" [(ngModel)]="activeOnly" (change)="loadAuctionsFilteredOrderedByWeight()" />
            <span class="checkmark"></span>
            Show only active auctions
        </label>

    </div>

    <div *ngFor="let auction of auctions" class="auction-card">
        <h3>{{ auction.item.name }} {{ auction.active ? '(active)' : '(inactive)' }}</h3>
        <p>{{ auction.item.description }}</p>

        <div class="auction-actions">
            <button (click)="viewAuctionDetails(auction)">Details</button>
            <button
                *ngIf="auction.seller.userid !== user.userid"
                (click)="placeBid(auction.auctionid)">
                Place bid
            </button>
        </div>
    </div>

    <div class="pagination">
        <button (click)="prevPage()" [disabled]="page < 1">Previous</button>
        <span>Page {{ page + 1 }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page >= totalPages - 1">Next</button>
    </div>

</div>