<div class="navigation">
    <button (click)="backToSellerPage()">Return to main seller page</button>
</div>
<div class="auction-creation-container">
    <form (ngSubmit)="onSubmit()" #auctionForm="ngForm" class="auction-form">
        <h1>Please fill out the fields below to submit your item for auction</h1>
        <div class="form-grid">
            <div class="general-info">
                <label for="item-name">Item name</label>
                <input type="text" id="item-name" name="item-name" [(ngModel)]="auction.item.name" required />
                
                <label for="item-buyprice">Item buy price</label>
                <input type="number" id="item-buyprice" name="item-buyprice" [(ngModel)]="auction.buyPrice" required />
                
                <label for="item-firstbid">Item first bid</label>
                <input type="number" id="item-firstbid" name="item-firstbid" [(ngModel)]="auction.firstBid" required />
                
                <label for="item-location">Item location</label>
                <input type="text" id="item-location" name="item-loction" [(ngModel)]="auction.item.location" required />
                
                <label for="item-country">Item country</label>
                <input type="text" id="item-country" name="item-country" [(ngModel)]="auction.item.country" required />
                
                <label for="item-description">Item description</label>
                <input type="text" id="item-description" name="item-description" [(ngModel)]="auction.item.description" required />

                <label for="auction-endtime">End time</label>
                <input type="datetime-local" id="auction-endtime" name="auction-endtime" [(ngModel)]="auction.endTime" required />
            </div>

            <div class="categories">
                <label for="item-categories">Item category/-ies</label>
                <div *ngFor="let category of categories; let i = index; trackBy: trackByIndex" class="category-input">
                    <input
                        type="text"
                        id="item-category-{{ i }}"
                        [(ngModel)]="categories[i]"
                        placeholder="Enter category"
                        name="item-category-{{ i }}"
                    />
                    <button type="button" (click)="removeCategory(i)" *ngIf="categories.length > 1">-</button>
                </div>
                <button type="button" (click)="addCategory()">+ Add category</button>
            </div>
        </div>

        <button type="submit">Add auction</button>
    </form>
</div>