<div class="welcome-container">
  <form (ngSubmit)="onSubmit()" #signInForm="ngForm" class="welcome-form">
    <h2>Welcome</h2>
    <h3>Please Sign In</h3>

    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required/>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required/>

    <button type="submit" [disabled]="!signInForm.valid">Sign In</button>
    <a routerLink="/app-signup">or create a new account.</a>
  </form>

</div>